header {
  background-image: url(/image/header.jpg);
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* height: 75px; */
  padding-bottom: 1rem;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo .logo__img {
  height: 70px;
  padding-left: 10px;
  padding-top: 4px;
}
header .logo .logo__title {
  font-size: 20px;
  margin-left: 10px;
  color: white;
}
header .nav {
  border-radius: 8px;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
}
header .nav li {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-transform: uppercase;
}
header .nav li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding-right: 1rem;
  color: inherit;
  position: relative;
}
header .nav li:hover {
  color: grey;
  transition: 2seg;
}

main {
  background-image: url(/image/main2.jpg);
  background-size: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-attachment: fixed;
}
main section {
  padding-left: 1rem;
  padding-right: 1rem;
}
main section .article__title {
  font-size: 25px;
  padding-top: 15px;
  padding-left: 5px;
}
main section .text {
  font-family: "Montserrat", sans-serif;
  width: 200px;
  border: 3px solid grey;
  white-space: wrap;
  overflow: hidden;
  text-overflow: auto;
  padding: 20px;
  margin: 0;
  background-color: white;
  resize: horizontal;
}
main section .article__img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
main section .article__img1 .article__img {
  margin-left: 5px;
  margin-bottom: 1rem;
  border-style: double;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background-image: url(/image/header.jpg);
}
footer .footer__p {
  padding-right: 1.5rem;
  color: white;
}
footer .footer__i {
  padding-right: 1.5rem;
  color: white;
}

article .buttons_container {
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}
article .buttons_container .button {
  padding: 14px;
  background: rgb(0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  letter-spacing: 4px;
  font-size: 20;
  overflow: hidden;
  transition: 0.2s;
}
article .buttons_container:hover .button:hover {
  background-color: red;
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
  transition-delay: 1;
}
article h2 {
  font-family: "Montserrat", sans-serif;
}
article .titulo_rutina {
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}
article .rutina {
  margin-bottom: 2rem;
}
article .imagen {
  width: 19rem;
  border-style: double;
}

.main__dieta {
  padding-left: 0.5rem;
}
.main__dieta article .dieta-flex .imagen__dieta {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* flex-flow: row nowrap; */
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin-bottom: 1rem;
}
.main__dieta article .dieta-flex .imagen__dieta .titulo__dieta {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-flow: row nowrap; */
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin-bottom: 1rem;
}
.main__dieta article .dieta-flex .imagen__dieta .img__dieta {
  display: flex;
  border-style: double;
  justify-content: center;
  align-items: flex-start;
  /* flex-flow: row nowrap; */
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin-bottom: 1rem;
}
.main__dieta article h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 20px;
}
.main__dieta article ul .dieta {
  margin-bottom: 1rem;
}
.main__dieta article ul .dieta h4 {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 20px;
}
.main__dieta article .tabla-dieta {
  margin-top: 3rem;
  list-style: none;
}

main article .plan__imagen {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
main article .plan__imagen img:nth-child(2),
main article .plan__imagen img:nth-child(3) {
  display: none;
}
main article .plan__p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main article .plan__p h1 {
  font-family: "Montserrat", sans-serif;
}
main article .plan__p p {
  font-family: "Montserrat", sans-serif;
}
main article .video_container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  .nav {
    color: white;
  }
  main section .article__img1 {
    flex-direction: row;
  }
  .article__img1 img {
    margin-right: 1rem;
  }
  .rutina {
    display: flex;
    padding-bottom: 2rem;
    justify-content: space-evenly;
  }
  .main__dieta article .dieta-flex .imagen__dieta {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-flow: row nowrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin-bottom: 1rem;
  }
  .plan__imagen {
    justify-content: space-between;
  }
  main article .plan__imagen img:nth-child(2) {
    display: block;
  }
  .plan_video {
    width: 560px;
  }
}
@media (min-width: 900px) {
  main article .plan__imagen img:nth-child(3) {
    display: block;
  }
}
.article__img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
