footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-image: url(/image/header.jpg);

    .footer__p {
        padding-right: 1.5rem;
        color: white;
    }
    
    .footer__i{
        padding-right: 1.5rem;
        color: white;
    }

}